<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/_fragments/layout :: head('Save Employee')}"></head>
<body>
<header th:replace="~{/_fragments/layout :: header}"></header>
<main class="container my-2">
  <div class="card px-4">
    <h3 th:if="${id == -1}" class="text-center">Save Employee</h3>
    <h3 th:unless="${id == -1}" class="text-center">Update Employee</h3>
    <div class="card-body">
      <form th:action="@{/employees/save/{id}(id=${id})}" method="post" th:object="${employeeDto}">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="name">Name <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="name" th:field="*{name}" placeholder="Enter name" class="form-control" required>
            <label for="email" class="mt-3">Email <span class="text-danger font-weight-bold">*</span></label>
            <input type="email" id="email" th:field="*{email}" placeholder="Enter email" class="form-control" required>
            <label for="mobile" class="mt-3">Mobile <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="mobile" th:field="*{mobile}" placeholder="Enter mobile" class="form-control" required>
            <label for="address" class="mt-3">Address <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="address" th:field="*{address}" placeholder="Enter address" class="form-control" required>
            <label for="birthday" class="mt-3">Birthday <span class="text-danger font-weight-bold">*</span></label>
            <input type="date" id="birthday" th:field="*{birthday}" placeholder="Enter birthday" class="form-control" required>
          </div>
          <div class="col-md-6 form-group">
            <label for="job-type">Job Type <span class="text-danger font-weight-bold">*</span></label>
            <select name="job-type" id="job-type" th:field="*{jobType}" class="custom-select form-control" required>
              <option value="" hidden>---Choose job type---</option>
              <option th:each="jobType : ${T(com.project.ems.employee.enums.JobType).values()}" th:text="${jobType}" th:value="${jobType}"></option>
            </select>
            <label for="position" class="mt-3">Position <span class="text-danger font-weight-bold">*</span></label>
            <select name="position" id="position" th:field="*{position}" class="custom-select form-control" required>
              <option value="" hidden>---Choose position---</option>
              <option th:each="position : ${T(com.project.ems.employee.enums.Position).values()}" th:text="${position}" th:value="${position}"></option>
            </select>
            <label for="grade" class="mt-3">Grade <span class="text-danger font-weight-bold">*</span></label>
            <select name="grade" id="grade" th:field="*{grade}" class="custom-select form-control" required>
              <option value="" hidden>---Choose grade---</option>
              <option th:each="grade : ${T(com.project.ems.employee.enums.Grade).values()}" th:text="${grade}" th:value="${grade}"></option>
            </select>
            <div class="row mt-3">
              <div class="col-md-6 form-group">
                <label for="mentor-id">Mentor ID <span class="text-danger font-weight-bold">*</span></label>
                <input type="text" id="mentor-id" th:field="*{mentorId}" placeholder="Enter mentor ID" class="form-control" required>
              </div>
              <div class="col-md-6 form-group">
                <label for="studies-id">Studies ID <span class="text-danger font-weight-bold">*</span></label>
                <input type="text" id="studies-id" th:field="*{studiesId}" placeholder="Enter studies ID" class="form-control" required>
              </div>
            </div>
            <label for="experiences-ids">Experiences IDs <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" id="experiences-ids" th:field="*{experiencesIds}" placeholder="Enter experiences IDs" class="form-control" required>
          </div>
        </div>
        <button th:if="${id == -1}" type="submit" class="btn btn-success" style="width: 15%">Save</button>
        <button th:unless="${id == -1}" type="submit" class="btn btn-success" style="width: 15%">Update</button>
        <a th:href="@{/employees}" type="button" class="btn btn-danger ml-2" style="width: 15%">Cancel</a>
      </form>
    </div>
  </div>
</main>
<footer th:replace="~{/_fragments/layout :: footer}"></footer>
</body>
</html>