<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/_fragments/layout :: head('Save Role')}"></head>
<body>
<header th:replace="~{/_fragments/layout :: header}"></header>
<main class="container my-2">
  <div class="card px-4">
    <h1 th:if="${id == -1}" class="text-center">Save Role</h1>
    <h1 th:unless="${id == -1}" class="text-center">Update Role</h1>
    <div class="card-body">
      <form th:action="@{/roles/save/{id}(id=${id})}" method="post" th:object="${roleDto}">
        <div class="form-group">
          <label for="name">Name <span class="text-danger font-weight-bold">*</span></label>
          <input type="text" id="name" th:field="*{name}" placeholder="Enter name" class="form-control" required>
        </div>
        <button th:if="${id == -1}" type="submit" class="btn btn-success" style="width: 15%">Save</button>
        <button th:unless="${id == -1}" type="submit" class="btn btn-success" style="width: 15%">Update</button>
        <a th:href="@{/roles}" type="button" class="btn btn-danger ml-2" style="width: 15%">Cancel</a>
      </form>
    </div>
  </div>
</main>
<footer th:replace="~{/_fragments/layout :: footer}"></footer>
</body>
</html>